@{
    ViewData["Title"] = "User Manage Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NIREP</h1>

    <p> Record Not Found !!</p>

</div>
<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

