@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NIREP</h1>

    <p> Record Updation Not aalowed as HOD Action Performed !!</p>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

