@{
    ViewData["Title"] = "NIREP";
    Layout = "~/Views/Shared/_Layouthod.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-8-offset-2">
            <table class="table table-bordered" id="employeeTable">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Incident ID</th>
                        <th>Project</th>
                        <th> Period </th>
                        <th> Incident Date  </th>
                        <th> Location of Incident </th>
                        <th> Department/Div  </th>
                        <th> Description </th>
                        <th> Eye Witness  </th>
                        <th> Escape  </th>
                        <th> Reason of occurence </th>
                        <th> Prventive Measure  </th>
                        <th> Remark  </th>
                        <th>Status </th>
                        <th> Acceptance of HOD </th>
                        <th>Remark of HOD  </th>
                    </tr>
                </thead>


            </table>

        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/datatable_test.js"></script>


}

