@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NIREP</h1>
   
    <p> User Id of Logged in User : @ViewData["UserId"]</p>

   @* <p> User Id of Logged in User Role : @ViewData["UserRole"]</p> *@
</div>

