@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NIREP: Administrator</h1>

     <p> User Id of Logged in Administrator : @ViewData["UserId"]</p> 
</div>

