@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "Application Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1> View Roles</h1>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles"
       asp-action="Create">Create Roles</a>
</p>
<div class="card-footer">
    <form asp-action="DeleteUser" asp-route-id="" method="post">

        <a asp-action="EditUser" asp-controller="Admin"
           asp-route-id="" class="btn btn-primary">Edit</a>

        <button type="submit" class="btn btn-danger" >Delete</button> 
       
    </form>


</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor( model =>model.Id)</th>
        
            <th>@Html.DisplayNameFor( model =>model.Name)</th>
            <th>    </th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>